table {
  border: none;
}

.editDate {
	width: 138px;
}

.ms-DatePicker {
	margin-bottom: 0!important;
}

.ms-TextField {
	margin-bottom: 0!important;
}

.ms-TextField-field {
	min-width: 0!important;
}

#employeeCard > .ms-Table {
	width: 651px;
	margin-right: auto;
    margin-left: auto;
}

.ms-Table tr td, .ms-Table tr th {
	border: 1px solid #eaeaea;
	height: 38px;
} 

tr[ng-repeat-start], tr[ng-repeat-start] + tr{
   border-top: 1px solid #eaeaea;
}

.ms-DatePicker-table td {
	padding: 0;
}

/*
Styles for ms-Datapicker
ms-Datapicker uses modifier (BEM) begins with a lowercase letter

 */

.ms-Icon--chevronLeft:before {
    content: '\E76B'
}

.ms-Icon--chevronRight:before {
    content: '\E76C'
}

.ms-Icon--event:before {
    content: '\ECA3'
}

.ms-Icon--xCircle:before {
    content: '\E946'
}


/* end*/

