table {
  border: none;
  margin-right: 0!important;
  margin-left: 0!important;

}

.date-row {
	width: 110px;
}

.ms-DatePicker {
	margin-bottom: 0!important;
}

.ms-TextField {
	margin-bottom: 0!important;
}

.ms-TextField-field {
	min-width: 0!important;
}

#employeeCard {
	padding: 0 25px;
}

#employeeCard > .ms-Table {
	width: 651px;
	/*margin-right: auto;*/
    /*margin-left: auto;*/
}

.ms-Table tr th {
	font-weight: bold;
}

.ms-Table tr td, .ms-Table tr th {
	border: 1px solid #eaeaea;
	height: 38px;
} 

tr[ng-repeat-start], tr[ng-repeat-start] + tr{
   border-top: 1px solid #eaeaea;
}

.ms-DatePicker-table td {
	padding: 0;
}

.clickableElem{
	color: #0078d7!important;
    cursor: pointer;
}

.text-center {
	 text-align: center;
}

.spiner {
	width: 12px;
}

.success {
	color: #107c10;
}

.error {
	color: #e81123;
}

.elipsis {
	line-height: 1;
    width: 140px;
     overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
     display: inline-block!important;

}


/*
Styles for ms-Datapicker
ms-Datapicker uses modifier (BEM) begins with a lowercase letter

 */

.ms-Icon--chevronLeft:before {
    content: '\E76B'
}

.ms-Icon--chevronRight:before {
    content: '\E76C'
}

.ms-Icon--event:before {
    content: '\ECA3'
}

.ms-Icon--xCircle:before {
    content: '\E946'
}


/* end*/

